{% extends 'dashboard/base.html' %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid">
        <h1 align = "center" style = "font-size : 25pt"> ACTIVE DRIVES REPORT </h1>
</div>
<div class="jumbotron jumbotron-fluid">
     <table class="table">
                <tr>
                    <th>Sl No</th>
                    <th>Partner Name</th>
                    <th>Drive Start Date</th>
                </tr>
                {% for drive in activeDrives %}
                <tr>
                    <td>{{drive.slno | floatformat}}</td>
                    <td>{{drive.name}}</td>
                    <td>{{drive.date}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
{% else %}
    <meta http-equiv="Refresh" content="0; url= login">
{% endif %}
{% endblock %} 