{% extends "dashboard/base.html" %}
{% block body_block %}

<div class = "container">
    <div class = "jumbotron">
        <h1> Welcome to the Placements Dashboard! </h1>
        <ul>
        {% for demand in demands %}
            <li>
                {{ demand.id}}
                {{demand.created}}
                {{demand.skills}} 
                {{demand.jobtitle}}
                {{demand.gender}}
                {{demand.certification}}
                {{demand.markspg}} 
                {{demand.marks_ug}}
                {{demand.marks10}}
                {{demand.numberofpositions}} 
                {{demand.bonddetails}} 
                {{demand.bondduration}}
                {{demand.compensation}} 
                {{demand.location}}
                {{demand.constraintlocation}}
            </li>
        {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        {% endif %}
    </div>
</div>
{% endblock %}