{% extends 'dashboard/base.html' %}
{% block body_block %}
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://www.talentsprint.com/misc/TS-Website/images/logo.png" id="icon" alt="Icon" />
    </div>

    <!-- Login Form -->
    <form method="post" action="{% url 'dashboard:user_login' %}">
                {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">

      <input type="submit" class="fadeIn fourth" value="LogIn">
    </form>

    <!-- Remind Password -->
    <!-- <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div> -->

  </div>
</div>

{% endblock %} 
