{% extends 'dashboard/base.html' %}
{% block body_block %}
{% if user.is_authenticated %}
<div class="wrapper fadeInDown">
  SELF-PLACED STUDENTS
</div>
<form method="post" action="{% url 'dashboard:getSelfPlaced' %}">
  {% csrf_token %}

      <p align = center>Enter Batch ID: </p>
      <div class="wrapper">
        <input style = "width : 30vw" type="text" id="batchID" class="batch second"
        name="batch ID" placeholder="Batch ID" required>
      </div>
      <div class="wrapper">
        <input type="submit" class="fadeIn fourth" value="Show Table">
      </div>

    <!-- <a class = "button" href="{% url 'dashboard:download_csv' %}" download> Generate CSV </a> -->
  </form>
{% if selfPlacedStudents is not None %}
<div class="jumbotron jumbotron-fluid">
     <table class="table">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Batch ID</th>
                    <th>Trainee ID</th>
                    <th>Skills</th>
                    <th>Company Name</th>
                    <th>Email ID</th>
                    <th>Mobile No</th>
                    <th>Year of Graduation</th>
                    <th>College Name</th>
                </tr>
                {% for student in selfPlacedStudents %}
                <tr>
                    <td>{{student.firstName}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.batch}}
                    <td>{{student.id}}</td>
                    <td>{{student.skill}}</td>
                    <td>{{student.selfPlacedWith}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.mobile}}</td>
                    <td>{{student.lastGradYear}}</td>
                    <td>{{student.collegeName}}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
            {% endif %}
{% else %}
    <meta http-equiv="Refresh" content="0; url= login">
{% endif %}
{% endblock %}
